@import "descriptions";

.content {
  &__picture {
    .radius(0);
    aspect-ratio: 592/448;

    &--sticky {
      position: sticky;
      top: @offset40;

      @media @tablet {
        top: 0;
        position: relative;
      }
    }
  }

  h1, h2, h3, .h1, .h2, .h3 {
    .Montserrat();

    &.notosans {
      .NotoSans();
    }
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: @blue-darker;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, ol, ul, strong {
    margin-bottom: @offset40;

    @media @tablet {
      margin-bottom: @offset32;
    }

    @media @l-mobile {
      margin-bottom: @offset24;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .shell__block--gap-16 {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, ol, ul, strong {
      margin-bottom: 0;
    }
  }

  .title-block__content& {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: @offset16;

      @media @l-mobile {
        margin-bottom: @offset12;
      }
    }
  }

  p strong {
    display: inline;
    margin-top: 0;
  }

  h4, h5, h6, .h4, .h5, .h6, p, ul, ol, strong {
    display: block;
    margin-bottom: @offset24;

    @media @tablet {
      margin-bottom: @offset20;
    }

    @media @l-mobile {
      margin-bottom: @offset16;
    }


    &.btn {
      display: flex;
    }

  }

  p, ul, ol {
    color: @neutral500;
  }

  h1, .h1 {
    .fs56-64();

    @media @tablet {
      .fs24-32();
    }
  }

  h2, .h2 {
    .fs40-48();

    @media @tablet {
      .fs24-32();
    }
  }

  h3, .h3 {
    .fs32-32();

    @media @tablet {
      .fs20-24();
    }
  }

  h4, .h4 {
    .fs24-32();

    @media @tablet {
      .fs20-24();
    }
  }

  h5, .h5 {
    .fs20-24();

    @media @tablet {
      .fs16-24();
    }
  }

  h6, .h6 {
    .fs16-24();

    @media @tablet {
      .fs14-16();
    }
  }

  ul {
    li {
      display: block;
      padding-left: @offset24;
      position: relative;
      margin-bottom: @offset4;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        .circle(3);
        transform: translateY(12px);
        content: '';
        position: absolute;
        left: @offset10;
        background-color: @neutral500;
      }
    }
  }

  ol {
    counter-reset: list;

    li {
      display: block;
      padding-left: @offset24;
      position: relative;
      margin-bottom: @offset4;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        counter-increment: list;
        content: counter(list) '.';
        position: absolute;
        left: 0;
      }
    }

    ul li {
      &::before {
        .circle(3);
        counter-increment: none;
        transform: translateY(12px);
        content: '';
        position: absolute;
        left: @offset10;
        background-color: @neutral500;
      }
    }
  }

  .title-block__content& {
    * {
      color: @white;
    }

    li::before {
      background-color: @white;
    }
  }

  & .main-blue {
    color: @blue-main;
  }

  & .neutral {
    color: @neutral500;
  }
}