@import "descriptions";

.header {
  position: relative;

  &--main-page {
    .f-column();
    min-height: 663px;
    overflow: hidden;

    @media @tablet {
      min-height: 448px;
    }
  }

  &--blue-bg {
    background-color: @neutral100;
    padding-bottom: @offset48;
  }

  &__bg-shell {
    position: absolute;
    width: 100%;
    height: calc(100% - 104px);
    z-index: -1;
    overflow: hidden;

    @media @tablet {
      height: calc(100% - 210px);
    }

    &--sun-light {
      animation: sun-light 10s infinite ease-in-out;
    }
  }

  &__bg-img {
    .abs-alignment();
    .object-fit();
  }
}

@keyframes sun-light {
  20% {
    filter: brightness(120%);
  }

  50% {
    filter: brightness(150%);
  }

  90% {
    filter: brightness(110%);
  }
}