@import "descriptions";

.houses {
  @media @tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @media @l-mobile {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding-inline: @mobile-padding;
    margin-bottom: -@offset40;
    padding-bottom: @offset40;
  }

  &__card {
    .radius();
    .f-column();
    .transition(border);
    .transition(scale);
    .transition(box-shadow);
    background-color: @white;
    border: 1px solid @blue10;
    padding: @offset16;

    @media @l-mobile {
      min-width: 81%;
    }

    &:hover {
      @media @large-than-tablet {
        .shadow-xl();
        scale: 1.01;
        border: 1px solid @blue60;
      }
    }
  }

  &__card-picture {
    aspect-ratio: 352/248;
    margin-bottom: 9px;
  }

  &__card-props {
    .f-column(8);
    align-items: start;
    position: absolute;
    left: @offset8;
    bottom: @offset8;
  }

  &__card-prop {
    .radius(16);
    background-color: @white;
    padding: @offset4 @offset8;

    @media @l-tablet {
      padding-block: 0;
    }
  }

  &__card-title-shell {
    .f-between(24);
    margin-bottom: @offset8;
  }

  &__card-title {
    margin-bottom: @offset8;

    .houses__card-title-shell & {
      margin-bottom: 0;
    }
  }

  &__card-title-types {
    .f-column(4);
    align-items: end;
  }

  &__card-title-types {
    .fs14-16(400);
    .radius(4);
    background: @neutral100;
    color: @blue60;
    padding: @offset4 @offset8;
  }

  &__card-data {
    color: @neutral500;
    margin-bottom: @offset8;

    @media @tablet {
      .fs12-16(400);
    }
  }

  &__card-tags {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 8px;
    margin-top: auto;
  }

  &__card-tag {
    @media @tablet {
      .fs12-16()
    }

    @media @l-mobile {
      .fs10-16()
    }

    &--square {
      align-self: start;
      margin-right: auto;
    }

    &--year {
      align-self: end;
    }
  }
}

.houses-shell {
  @media @l-mobile {
    width: calc(100% + 2 * @mobile-padding);
    margin-left: -@mobile-padding;
    overflow: hidden;
  }
}
