@import "descriptions";

.order {
  .full-width-tablet();
  position: relative;
  padding: @offset40;

  @media @tablet {
    padding-inline: @tablet-padding;
    padding-block: @offset40 @offset56;
  }

  @media @l-mobile {
    padding-inline: @mobile-padding;
  }

  &__bg-shell {
    position: absolute;
    inset: 0;
    z-index: -1;

    @media @tablet {
      .radius(0);
    }
  }

  &__shell {
    .radius(8);
    border: 1px solid @white;
    min-height: 716px;

    @media @tablet {
      grid-template-columns: 1fr;
      border: unset;
      min-height: unset ;
    }
  }

  &__form {
    .f-column();
    background-color: @white;
    border-radius: 8px 0 0 8px;
    padding: @offset48;
    max-width: 568px;
    width: 120%;

    @media @tablet {
      max-width: 100%;
      width: 100%;
      padding: @offset32 @offset24;
    }
  }

  &__form-title {
    margin-bottom: @offset16;
  }

  &__form-subtitle {
    margin-bottom: @offset24;
  }

  &__form-inputs {
    .f-column(16);
    margin-bottom: @offset24;
  }

  &__form-input-elem {
    position: relative;
    width: 100%;
  }

  &__form-input-label {
    .fs16-24(600);
    color: @neutral500;
    display: block;
    margin-bottom: @offset8;
  }

  &__form-input-box {
    .fs20-32(400);
    display: flex;
    position: relative;

    .order__form-input-elem--phone & {
      display: flex;

      &::before {
        .absY-alignment();
        left: @offset48;
        background-color: @neutral400;
        content: '';
        height: calc(100% - 1px);
        width: 1px;
      }

      &.error-phone {
        &::after {
          .fs10-16();
          font-weight: 400;
          color: @red-error;
          white-space: nowrap;
          position: absolute;
          bottom: -16px;
          left: 12px;
          content: 'Введите только цифры';
        }
      }
    }

    &.error-mail {
      &::after {
        .fs10-16();
        font-weight: 400;
        color: @red-error;
        white-space: nowrap;
        position: absolute;
        bottom: -16px;
        left: 12px;
        content: 'Введите почту в формате user@domain.ru';
      }
    }
  }

  &__form-input-placeholder-prefix {
    .absY-alignment();
    left: 12px;
  }

  &__form-input {
    padding-block: @offset8;

    .order__form-input-elem--phone & {
      padding-left: @offset60;
    }
  }

  &__form-input-placeholder {
    .absY-alignment();
    .fs20-32(400);
    color: @neutral300;
    left: @offset12;
    pointer-events: none;

    &.error {
      color: @red-error;

      &::after {
        .fs10-16();
        font-weight: 400;
        color: @red-error;
        white-space: nowrap;
        position: absolute;
        bottom: -22px;
        left: 0;
        content: 'Это обязательное поле для заполнения';
      }
    }

    .order__form-input-elem--phone & {
      color: @black;
      left: @offset40;

      &.error {
        color: @red-error;

        &::after {
          left: -28px;
        }
      }
    }
  }

  &__submit-btn {
    margin-bottom: @offset24;
  }

  &__form-agree-input {
  }
}