@import "descriptions";

.title-block {
  .radius(8);
  .shadow-xl();
  .full-width-tablet();
  position: relative;
  background: @white;
  margin-top: -@offset40;
  padding: @offset24;

  @media @tablet {
    .radius(0);
    border-bottom: 1px solid @blue5
  }

  &--with-img {
    padding: @offset40;
  }

  &__bg {
    .abs-alignment();
    .object-fit();
  }

  &__content {
    .radius(8);
    background-color: fade(@blue-main, 91%);
    padding: @offset48;
    position: relative;
    z-index: 1;
  }

  &__title {
    .Montserrat();
    margin-bottom: @offset16;
  }

  &__subtitle {
    color: @neutral600;
    letter-spacing: 0.12px;
  }

  &__subtitle-link-icon {
    color: @turqs-main;
  }

  &__order-btn {
    margin-top: @offset40;
  }
}