@import "descriptions";

.detail {
  display: grid;
  grid-template-columns: 1fr 384px;
  align-items: start;
  column-gap: @offset32;
  padding-top: @offset64;

  @media @l-tablet {
    grid-template-columns: 1fr;
    padding-top: @offset32;
  }

  @media @tablet {
    padding-top: @offset40;
  }

  @media @l-mobile {
    padding-top: @offset24;
  }

  &__sls {
    position: sticky;
    top: 120px;

    @media @l-tablet {
      position: static;
    }
  }

  &__sls-shell {
    .full-width-tablet();
    min-width: 0;
    position: sticky;
    top: @offset24;

    @media @l-tablet {
      position: static;
    }
  }
}