@import "descriptions";

.detail-sls-preview {
  min-width: 100%;
  min-height: 100%;
  margin-bottom: @offset24;

  @media @l-tablet {
    max-width: 100%;
    max-height: unset;
    margin-bottom: 0;
  }

  &__slide {
    .f-center();
    height: 568px;
    opacity: 0 !important;

    .swiper-slide-active& {
      opacity: 1 !important;
    }

    @media @l-tablet {
      height: 460px;
      opacity: 1;
    }

    @media @l-mobile {
      .aspect-ratio(343, 260);
      height: 100%;
    }
  }

  &__slide-img {
    .radius();
    object-fit: cover;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: auto;

    @media @l-mobile {
      .abs-alignment();
    }
  }

  &__pagination {
    display: none;

    @media @l-tablet {
      display: inline-block !important;
      bottom: 4px !important;
      margin-top: @offset20;
    }

    & .swiper-pagination-bullet {
      @media @l-tablet {
        .circle(6) !important;
        display: inline-block !important;
        margin-inline: 3px !important;
      }
    }
  }
}